streamlit==1.44.1
python-dotenv==1.1.0
groq==0.22.0
firecrawl==1.15.0
langchain==0.3.23
langchain-community==0.3.21
langchain-groq==0.3.2
langchain-huggingface==0.1.2
faiss-cpu==1.10.0
sentence-transformers==4.0.2
transformers==4.51.3
torch==2.6.0
torchvision==0.21.0
